// Navigation Styles here
header.top {
    div {
        height: 5.5rem;
        .flex(row, space-between, baseline);

        h1 {
            margin-left: 10%;
        }

        nav {
            margin-right: 11.5%;
            width: 20rem;
            .flex(row, space-around, center);
        }

        a {
            text-decoration: none;
            color: @font-color;
        }
    }
    
    hr {
        margin: 0;
        border: none;
        border-bottom: 2px dashed grey;
    }
}